


<div class="row">
  <div class="col-sm-6">
    <h1>Ridings</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_riding_path, class: 'btn btn-primary' do %>
    Add New Riding
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Number</th>
            <th>Province</th>
            <th>Eligible voters</th>
            <th>Win number</th>
            
      </tr>
    </thead>

    <tbody>
      <% @ridings.each do |riding| %>
        <%= content_tag :tr, id: dom_id(riding), class: dom_class(riding) do %>
          
            <td><%= link_to riding.name, riding %></td>
          

                      <td><%= riding.number %></td>
                      <td><%= riding.province %></td>
                      <td><%= riding.eligible_voters %></td>
                      <td><%= riding.win_number %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
