


<div class="row">
  <div class="col-sm-6">
    <h1>Polls</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_poll_path, class: 'btn btn-primary' do %>
    Add New Poll
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Riding</th>
            <th>Number</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @polls.each do |poll| %>
        <%= content_tag :tr, id: dom_id(poll), class: dom_class(poll) do %>
          

                      <td><%= poll.riding %></td>
                      <td><%= poll.number %></td>
          
          
            <td><%= link_to 'Show', poll %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
